/*  your css code here. If applicable */
.grid-container{
	display:grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap:10px;
	width:300px;
	margin:20px auto;
}

.grid-item{
	border:1px solid #000;
	background-color:transparent;
	text-align:center;
	font-size:25px;
	cursor:pointer;
}
.grid-item:nth-child(2){
	background-color:rgb(255,0,0);
}
input , button {
	margin:10px; 
}
